.loginScreen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginBtn{
    margin-top: 10px;
    padding: 0.5em 1em;
    border-radius: 5px;
    border: none;
}

.downloadApp{
    text-align: center;
    margin-top: 20px;
}

.downloadApp a{
    color: azure;
}